.SiteLayout {
  min-height: 100vh;
  margin-left: 200px;
}

.Header {
  padding: 0;
}

.ContentBlock {
  margin: 24px 16px 0;
  overflow: initial;
}

.Footer {
  text-align: center;
}

.LogoutButton {
  border: none;
  bottom: 5px;
  position: fixed;
}